html, body
{
font-family: "Verdana",verdana, sans;
height: 100%;
color: rgb(255, 255, 255);
}

body {
    font-family: "Verdana",verdana, sans;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.5;
    color: #191818;
    text-align: left;
}

/* A replacement for .small-box .icon, where the icon is smaller and doesn't
   change size when moused over. */
.small-box .icon-large {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.15);
}


.col-sm-12{
  padding-left:5px;
  padding-right:5px;
}




/*******************************************************/
/* navbar color */
/*******************************************************/
.skin-blue .main-header .navbar {
    background-color: #e42312;
}

.skin-blue .main-header .logo{
    background-color: #e42312;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}


.main-header {
    position: relative;
    max-height: 100px;
    height: 40px;
    z-index: 1030;
}



.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 300px;
    font-family: "Verdana";
    padding: 0 0px;
    font-weight: 300;
    overflow: hidden;
}

.content-wrapper, .main-footer, .right-side {
    margin-left: 300px;

}


.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #fff;
}

.left-side, .main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 300px;

}

 .content {
   /* background-image:  url("DH_stacked_black_5_opacity.png");
    background-size: 80% 80%; */
   /* background-position: center;
    background-repeat: no-repeat;
    /*background-size:cover;*/ 
    /*background-size:contain;*/
   /* min-height: 850px;
   /*display: inline-block;*/
    /*min-height: 850px;*/
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  max-height: 110px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Verdana";
  padding: 10px 0px;
  padding-top: 10px;
  margin-top: 30px;
  font-weight: 100;
  clear: both;
}

/*
 .content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
}
*/
.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}


.control-sidebar-dark, .control-sidebar-dark+.control-sidebar-bg {
    background: #fff;
}

.col-sm-4{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
}
.col-sm-6 {
    position: relative;
    min-height: 0px;
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 1px;
}
.col-sm-3{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 10px;
}



.bg-gray-active {
  color: #000;
  
.nav-tabs-custom> .nav-tabs> li.active {
  border-top-color: #e42312;
}

.bg-black-active {
  background-color: #000000 !important;
}

.box-body{
   -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
    border-top-color: #e42312!important;
}


.box.box-danger {
   -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
    border-top-color: #e42312!important;
}


.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
    direction: ltr;
    font-family: "Verdana";
    margin: 10px;
    padding: 5px;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #2d3b71;
}


/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* sweet alerts modal */ 
/* ------------------------------------------------- */
 .swal-modal {
  background-color: rgba(255,255,255,0.9);
  border: 3px solid white;
}                              
                                
/* ------------------------------------------------- */
/* top of all plots padding */
/* ------------------------------------------------- */
.tab-content>.active {
    padding-top: 0px;
    display: block;
}                                

.shiny-output-error shiny-output-error-Rcpp::eval_error{
  color: #fff;
}

.selectize-input {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px !important;
}

.shiny-html-output.col-sm-3.shiny-bound-output{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.well {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    background-color: #4f4f4f;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.shiny-output-error-validation {
        color: #4f4f4f;
      }


.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    border-radius: 5px;

}


.box.body{
  padding:0px;
}


.panel {
    background-color: #fff0;
    border-top-color: #fff;
}
.collapse.in {
    display: block;
    background-color: #4f4f4f;
}


.panel-group {
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    /* width: 95%; */
}


.skin-blue .sidebar a {
    color: #4f4f4f;
}

.panel-body {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}
.panel-group .panel {
    margin-bottom: 0px;
    border-radius: 4px;
}

.panel-default{
    border-color: #fff;
}

.panel-danger>.panel-heading {
    color: #fff;
    background-color: #c94b27;
    border-color: #fff;
}


.form-group {
    margin-bottom: 30px;
}

.datepicker--nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    min-height: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}

div#speciality_select.shiny-html-output.shiny-bound-output.shiny-output-error {
    color: #4f4f4f05;
}

.bttn-bordered.bttn-md {
    font-size: 17px !important;;
    font-family: inherit;
    padding-top: 5px !important;;
    padding-right: 52px !important;;
    padding-bottom: 5px !important;;
    padding-left: 52px !important;;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 142%;
    margin-bottom: 0;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 425;
}

.nav-tabs-custom>.tab-content {
    background: #fff;
    padding: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


.sidebar .shiny-input-container {
    padding: 6px 15px 0px 15px;
    color: darkblue;
    white-space: normal;
}



.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #e42312;
}


.bttn-bordered.bttn-md {
    font-size: 12px;
    font-family: inherit;
    padding: 5px 12px;
    color: #fff;
    background-color: #e42312;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}
  

.bttn-bordered.bttn-default {
    color: #fff;
    background-color: #e42312;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}


.add_strategy.btn.btn-default.action-button {
    font-size: 12px;
    font-family: inherit;
    padding: 5px 12px;
    color: #fff;
    background-color: #e42312;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color:#fff;
}


