html, body
{
font-family: "Verdana",verdana, sans;
height: 100%;
color: rgb(255, 255, 255);
}

body {
    font-family: "Verdana",verdana, sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    color: #191818;
    text-align: left;
}

/*******************************************************/
/* navbar color */
/*******************************************************/
.skin-blue .main-header .navbar {
    background-color: #e42312;
}

.skin-blue .main-header .logo{
    background-color: #e42312;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}


.main-sidebar {
    width: 250px;
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #e42312;
}


/*******************************************************/
/* padding */
/*******************************************************/

 .content {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

.col-sm-4{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
}


/*.col-sm-6 {
    position: relative;
    min-height: 0px;
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 1px;
    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
}

*/




.col-sm-6 {
    min-height: 0px;
    padding-top: 15px;
    padding-right: 1px;
    padding-left: 0px;
    padding-bottom: 1px;
    margin-left: -9px;    
    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
}

.col-sm-3{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 0px;
}

.col-sm-2{
    position: relative;
    margin-left:0px;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.box-header {
    color: #444;
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 0px;
  max-height: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Segoue UI";
  padding: 0px;
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 100;
  clear: both;
}


/*******************************************************/
/* left menu */
/*******************************************************/

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #e42312;
}

.box.box-danger {
    border-top-color: #e42312;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: #333333;
}

/*******************************************************/
/* colours */
/*******************************************************/

.bg-red {
  background-color: #e42312 !important;
}

.bg-blue {
  background-color: #007bff !important;
}

.bg-yellow {
  background-color: #ffc107 !important;
}

.bg-teal {
  background-color: #03fcec !important;
}

.bg-green {
  background-color: ##28a745 !important;
}


.bg-maroon {
  background-color: #333333  !important;
}





/* change for debugging */
.shiny-output-error {
    color: #fff; 
    /* color: #963333;*/
    white-space: pre-wrap;
}

/*******************************************************/
/* info boxes */
/*******************************************************/

.info-box {
  box-shadow: 0 4px 4px -2px gray;
}


.info-box {
  box-shadow: 0 4px 4px -2px gray;
}



.info-box-text {
    text-transform: lowercase;
}

.info-box-text {
  font-size:12px;
  display: block;
  overflow:inherit;
  
}





.info-box-number {
  font-size:18px;
  display: block;
  overflow:inherit;
  font-weight:700;
  
}


.sidebar-menu {
  position:relative;
  padding:1px;
  margin:1px;
}

.well {
  min-height: 20px;
  padding: 1px;
  margin-top: 5px;
  margin-left:2px;
  margin-right:2px;
  margin-bottom: 1px;
  background-color: #f5f5f521;
  border: 1px solid;
  border-radius: @border-radius-base;
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15);
  }
}


.nav-tabs-custom>.tab-content






















